/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.block, tmp {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.block {
	position: absolute;
	background: #fff;
	padding: 20px;
	width: 50%;
	border: 1px solid #ddd;
}

dialog {  
    width: 800px;  
    background:#e8e8e8;
    border: 3px solid #dadada;
    font-family:sans-serif;
    padding: 15px 30px 60px 60px;
}